$blue: #5f98fc;
$white: #fff;
$yellow: #fdfa70;

@mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

html {
  font-size: 20px;
}

body {
  font: 1rem;
}

header {
  background: $blue;
  padding: 0 0.6333rem;
  h1 {
    float: left;
  }
  a {
    display: block;
    background: url(./img/logo.png) no-repeat 0 0 / 100% auto;
    color: $white;
    width: 4.9666rem;
    height: 0.8333rem;
  }
  .info {
    float: right;
  }
}
